// Edit 2022: fixed randomly broken css

// sidebar menu background
$sidebar-background: #30B5C1;

// checkmark blue
$blue: #00baff;

// blue
$body-background: #1E757E;

$foreground: rgba(black, 0.7);

// light gray
$foreground--light: #b0b0b2;

// blue
$link-color--active: #0674d7;

// blue
$link-color--hover: $link-color--active;

// checkmark untoggled
$checkmark-gray: #e6e6e6;

$details-pane-background: #f7f9fa;
$details-body-gutter: 60px;

$headings: (h1, h2, h3, h4, h5, h6);

$checkbox-expand: 4px;

body {
  color: $foreground;
  background-color: $body-background;
  font-family: Open Sans;
  line-heihgt: 1.5;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $foreground--light;
  }
  &:hover,
  &:active {
    color: $link-color--hover;
  }
}

p {
  font-size: 14px;
  margin-bottom: 0;
}

#{$headings} {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.wrapper {
  $width: 810px;
  display: flex;
  padding: 80px 20px;
  max-width: $width;
  min-width: $width;
  margin: 0 auto;
}

// Sidebar to the left
.Sidebar {
  align-items: center;
  background-color: $sidebar-background;
  border: 1px solid rgba(black, 0.1);
  border-radius: 4px;
  box-shadow: -5px 0px 60px 0 rgba(black, 0.6), inset 0 0 40px rgba(black, 0.1);
  display: flex;
  margin: 60px 0;
}

.Sidebar__nav-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Sidebar__nav-list__item {
  color: rgba(white, 0.3);
  cursor: pointer;
  font-size: rem(28px);
  padding: 20px 30px;
  text-align: center;

  &:hover {
    color: white;
  }
  &--active {
    color: white;
  }
}

// The the content area
/**
 * 1. z-indexed over the sidebar so the sidebar's shadow 
 *    doesn't show over the main content area  
 */
.Details {
  background-color: white;
  border-radius: 4px;
  box-shadow: -5px 0px 70px 0 rgba(black, 0.4);
  flex: 1;
  position: relative;
  z-index: 1; /* [1] */
}

.Details__header {
  padding: 30px;
}
.Details__title {
  color: rgba(black, 0.8);
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
.Details__nav {
  padding: 0 $details-body-gutter;
}

.Details__nav-list {
  display: flex;
  justify-content: space-between;
}

.Details__nav-list__item {
  border-bottom: 2px solid transparent;
  color: $foreground--light;
  cursor: pointer;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
  user-select: none;

  &:hover {
    border-color: $link-color--hover;
  }
  &--active {
    border-color: $link-color--active;
  }
}

.Details__body {
  background: $details-pane-background;
  padding: 50px $details-body-gutter;
  border-radius: 4px;
}

.Media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.Media__side {
  vertical-align: middle;

  &--left {
    margin-right: 30px;
  }

  &--right {
    margin-left: 30px;
  }
}

.Media__image {
  $width: 55px;
  width: 100%;
  max-width: $width;
}

.Media__body {
  flex: 1;
}

.checkbox {
  $width: 20px;
  $height: 20px;
  background-color: $checkmark-gray;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: $width;
  height: $height;

  &:before {
    background-color: $blue;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    line-height: $height + ($checkbox-expand * 2);
    opacity: 0;
    transition: all 0.1s ease-in;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

// Hide the checkboxes
.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox:before {
  opacity: 1;
  position: absolute;
  left: -$checkbox-expand;
  top: -$checkbox-expand;
  right: -$checkbox-expand;
  bottom: -$checkbox-expand;
}

// Base button style
.Button {
  border-radius: 3px;
  border: 0;
  box-shadow: 0 2px 4px 0 rgba(black, 0.1), 0 10px 20px 0 rgba(black, 0.1);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  outline: 0;
  padding: 16px 36px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: box-shadow 0.15s, background-color 0.15s;
  user-select: none;
  vertical-align: middle;
  will-change: box-shadow, background-color, color;

  // Sync button
  &--sync {
    $width: 70px;
    $height: $width;
    background-color: $blue;
    border-radius: 50%;
    color: white;
    font-size: 32px;
    line-height: $height;
    text-align: center;
    padding: 0;
    width: $width;
    height: $height;

    > span {
      line-height: $height;
    }
  }
}

#sync {
  bottom: 0;
  position: absolute;
  right: 0;
  transform: translate(-50%, 50%);
}

// Helpers
.u-flex {
  display: flex;
  flex-wrap: wrap;
}
.u-flex-center--v {
  display: flex;
  align-items: center;
}
